html, body {
/*    height: 100%;  */
    background-color: #580358;
    color: #d0aef5;
}
.container {
    display: grid;
    justify-content: center;
    padding-top: 100px;
}
.content {
    display: grid;
    width: 500px;
    text-align: center;
}


.screen-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.list-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    cursor: pointer;
}
.item-title {
    text-align: left;
}
.block-button-add {
    display: grid;
    justify-content: center;
    align-content: center;
}
.add {
    background-color: #843398;
    border: none;
    padding: 20px 40px;
    font-size: medium;
}


.screen-2 {

}
.form-add {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
}
.inputAdd {
    background-color: #464646;
    color: #ffffff;
    padding: 10px;
    font-size: medium;
}
.form-button {
    margin-top: 10px;
}
.cancel {
    background-color: #570073;
    border: none;
    padding: 20px 40px;
    font-size: medium;
}

.active {
    border: 2px solid #cc00ff;
    cursor: pointer;
    animation: 2s linear 0s infinite alternate pulse;
}
.hide {
    display: none;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgb(29, 1, 29)
    }
    50% {
        box-shadow: 0 0 10px rgb(167, 7, 167)
    }
    100% {
        box-shadow: 0 0 15px rgb(255, 0, 255)
    }
}
